.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    height: 75px;
}

.content__message {
    color: gray;
}

.content__congratulation {
    color: green;
}

.content__draw {
    color: blue;
}
